.cabecera {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--blanco);
}
.logo-nombre {
  display: flex;
  align-items: center;
}
.logo {
  display: flex;
  width: 6rem;
  fill: var(--Primary);
}
.nombre {
  color: var(--Primary);
  .nombre-header {
    font-size: 1.5rem;
    font-family: var(--font-primary);
    text-align: center;
  }
}
.usuario-header {
  .mostrar-usuarios {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gris-claro);
    border-radius: 1.3rem;
    width: 9.5rem;
    height: 2.5rem;
    text-align: center;
    color: var(--color-hover-boton);
  }
}
